<h1>Listing ratings </h1>
<p> Number of ratings: <%= @ratings.count %> </p> 
<ul>
  <% @ratings.each do |rating| %>
    <li> <%= link_to rating.user.username, rating.user %> <%= rating %></li>
  <% end %>
</ul>




